.container {
  max-width: 1200px;
  margin:  80px auto 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  flex: 1;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.informacoes {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titulo {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.botaoVoltar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.botaoVoltar:hover {
  background-color: #0056b3;
}

p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}

strong {
  color: #333;
}

.comentarios {
  margin-top: 40px;
}

.comentarios h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.comentarios textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.comentarios button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comentarios button:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 15px;
  }

  .card {
    margin-bottom: 20px;
  }

  .titulo {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .informacoes {
    margin-top: 20px;
  }

  .comentarios h3 {
    font-size: 1.2rem;
  }

  .comentarios textarea {
    font-size: 1rem;
  }
}
