/* Estilo base para o body */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Responsividade do Login */
@media (max-width: 768px) {
  .login_container {
    padding: 15px;
  }

  .login_form {
    padding: 20px;
    width: 90%; /* Menor largura para dispositivos móveis */
  }

  .login_form h2 {
    font-size: 1.3rem;
  }

  .login_form input,
  .login_form button {
    font-size: 14px; /* Ajuste do tamanho dos inputs e botão */
    padding: 12px;
  }
}

/* Para dispositivos móveis pequenos */
@media (max-width: 480px) {
  .login_form {
    padding: 15px;
    width: 100%;
  }

  .login_form input,
  .login_form button {
    padding: 10px; /* Menor padding para telas menores */
  }

  .login_form h2 {
    font-size: 1.1rem; /* Ajuste do título para telas menores */
  }
}

/* Para telas grandes (desktops) */
@media (min-width: 1024px) {
  .login_form {
    width: 40%; /* Formulário maior em telas grandes */
  }
}
